In [97]:
import pandas as pd

In [107]:
urlA = 'https://www.pro-football-reference.com/players/G/GreeA.00/fantasy/'
dfA = pd.read_html(urlA, header = [1], skiprows = 1)[0]

In [108]:
dfA

,Unnamed: 0,Tm,G,Att,Yds,TD,Tgt,Rec,Yds.1,TD.1,...,Num,Pct,Num.1,Pct.1,Num.2,Pct.2,FantPt,DKPt,FDPt,Unnamed: 26
0,2011.0,CIN,15,0.0,0.0,0.0,15,5,38,3,...,NaN,NaN,NaN,NaN,NaN,NaN,153.0,230.0,185.5,All 2011 Games
1,2012.0,CIN,16,1.0,11.0,0.0,22,11,71,8,...,960.0,90.8%,0.0,0.0%,2.0,0.4%,202.8,315.8,251.3,All 2012 Games
2,2013.0,CIN,16,0.0,0.0,0.0,21,9,59,4,...,1056.0,93.3%,0.0,0.0%,0.0,0.0%,208.6,324.6,257.6,All 2013 Games
3,2014.0,CIN,13,1.0,-3.0,0.0,11,6,71,3,...,649.0,75.6%,0.0,0.0%,0.0,0.0%,136.3,222.3,170.8,All 2014 Games
4,2015.0,CIN,16,0.0,0.0,0.0,18,9,82,7,...,931.0,88.2%,0.0,0.0%,2.0,0.5%,187.7,286.7,230.7,All 2015 Games
5,2016.0,CIN,10,0.0,0.0,0.0,9,7,56,2,...,555.0,80.7%,1.0,0.1%,0.0,0.0%,120.4,198.4,153.4,All 2016 Games
6,2017.0,CIN,16,0.0,0.0,0.0,16,7,72,6,...,852.0,88.6%,2.0,0.2%,0.0,0.0%,151.8,237.8,189.3,All 2017 Games
7,2018.0,CIN,9,0.0,0.0,0.0,13,6,49,4,...,458.0,78.7%,0.0,0.0%,0.0,0.0%,103.4,156.4,126.4,All 2018 Games
8,2020.0,CIN,16,0.0,0.0,0.0,9,3,20,2,...,820.0,76.2%,0.0,0.0%,0.0,0.0%,64.3,111.3,87.8,All 2020 Games
9,2021.0,ARI,16,NaN,NaN,NaN,17,5,36,2,...,888.0,80.5%,0.0,0.0%,2.0,0.5%,102.8,162.8,129.8,All 2021 Games
10,2022.0,ARI,15,NaN,NaN,NaN,6,1,6,1,...,554.0,52.1%,0.0,0.0%,1.0,0.3%,37.6,61.6,49.6,All 2022 Games
11,NaN,NaN,158,2.0,8.0,0.0,157,69,560,42,...,7723.0,NaN,3.0,NaN,7.0,NaN,1468.7,2307.7,1832.2,NaN

In [109]:
dfA.rename(columns={'Unnamed: 0': 'Year', 'Tm': 'Team', 'G': 'Games Played'})

,Year,Team,Games Played,Att,Yds,TD,Tgt,Rec,Yds.1,TD.1,...,Num,Pct,Num.1,Pct.1,Num.2,Pct.2,FantPt,DKPt,FDPt,Unnamed: 26
0,2011.0,CIN,15,0.0,0.0,0.0,15,5,38,3,...,NaN,NaN,NaN,NaN,NaN,NaN,153.0,230.0,185.5,All 2011 Games
1,2012.0,CIN,16,1.0,11.0,0.0,22,11,71,8,...,960.0,90.8%,0.0,0.0%,2.0,0.4%,202.8,315.8,251.3,All 2012 Games
2,2013.0,CIN,16,0.0,0.0,0.0,21,9,59,4,...,1056.0,93.3%,0.0,0.0%,0.0,0.0%,208.6,324.6,257.6,All 2013 Games
3,2014.0,CIN,13,1.0,-3.0,0.0,11,6,71,3,...,649.0,75.6%,0.0,0.0%,0.0,0.0%,136.3,222.3,170.8,All 2014 Games
4,2015.0,CIN,16,0.0,0.0,0.0,18,9,82,7,...,931.0,88.2%,0.0,0.0%,2.0,0.5%,187.7,286.7,230.7,All 2015 Games
5,2016.0,CIN,10,0.0,0.0,0.0,9,7,56,2,...,555.0,80.7%,1.0,0.1%,0.0,0.0%,120.4,198.4,153.4,All 2016 Games
6,2017.0,CIN,16,0.0,0.0,0.0,16,7,72,6,...,852.0,88.6%,2.0,0.2%,0.0,0.0%,151.8,237.8,189.3,All 2017 Games
7,2018.0,CIN,9,0.0,0.0,0.0,13,6,49,4,...,458.0,78.7%,0.0,0.0%,0.0,0.0%,103.4,156.4,126.4,All 2018 Games
8,2020.0,CIN,16,0.0,0.0,0.0,9,3,20,2,...,820.0,76.2%,0.0,0.0%,0.0,0.0%,64.3,111.3,87.8,All 2020 Games
9,2021.0,ARI,16,NaN,NaN,NaN,17,5,36,2,...,888.0,80.5%,0.0,0.0%,2.0,0.5%,102.8,162.8,129.8,All 2021 Games
10,2022.0,ARI,15,NaN,NaN,NaN,6,1,6,1,...,554.0,52.1%,0.0,0.0%,1.0,0.3%,37.6,61.6,49.6,All 2022 Games
11,NaN,NaN,158,2.0,8.0,0.0,157,69,560,42,...,7723.0,NaN,3.0,NaN,7.0,NaN,1468.7,2307.7,1832.2,NaN

In [110]:
dfA.columns.drop(['Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'DKPt', 'FDPt', 'Unnamed: 26'])

Index(['Unnamed: 0', 'Tm', 'G', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1',
       'Yds.3', 'TD.3', 'FantPt'],
      dtype='object')

In [111]:
dfA.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'FantPt', 'DKPt',
       'FDPt', 'Unnamed: 26'],
      dtype='object')

In [112]:
dfA_tidy = dfA.drop(columns = ['Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1', 'TD.1',
       'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3', 'Num',
       'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'DKPt', 'FDPt', 'Unnamed: 26'])
dfA_aj = df_tidy.iloc[0:9]
dfA_aj.rename(columns={ 'Tm': 'Team', 'G': 'Games Played'})

     Year Team  Games Played  FantPt
0  2011.0  CIN            15   153.0
1  2012.0  CIN            16   202.8
2  2013.0  CIN            16   208.6
3  2014.0  CIN            13   136.3
4  2015.0  CIN            16   187.7
5  2016.0  CIN            10   120.4
6  2017.0  CIN            16   151.8
7  2018.0  CIN             9   103.4
8  2020.0  CIN            16    64.3

The table above is for AJ Green, who was the WR1 from 2011 - 2020

In [113]:
urlB = 'https://www.pro-football-reference.com/players/D/DaltAn00/fantasy/'
dfB = pd.read_html(urlB, header = [1], skiprows = 1)[0]

In [116]:
dfB.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Cmp', 'Att', 'Yds', 'TD', 'Att.1', 'Yds.1',
       'TD.1', 'Tgt', 'Rec', 'Yds.2', 'TD.2', 'Cmp.1', 'Att.2', 'Yds.3',
       'TD.3', 'Att.3', 'Yds.4', 'TD.4', 'Num', 'Pct', 'Num.1', 'Pct.1',
       'Num.2', 'Pct.2', 'FantPt', 'DKPt', 'FDPt', 'Unnamed: 30'],
      dtype='object')

In [131]:
dfB_tidy = dfB.drop(columns = ['Cmp','Att', 'Yds', 'TD', 'Att.1', 'Yds.1',
       'TD.1', 'Tgt', 'Rec', 'Yds.2', 'TD.2', 'Cmp.1', 'Att.2', 'Yds.3',
       'TD.3', 'Att.3', 'Yds.4', 'TD.4', 'Num', 'Pct', 'Num.1', 'Pct.1',
       'Num.2', 'Pct.2', 'DKPt', 'FDPt', 'Unnamed: 30'])

In [132]:
dfB_ad = dfB_tidy.iloc[0:9]
dfB_ad.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
0  2011.0  CIN            16  207.12
1  2012.0  CIN            16  250.76
2  2013.0  CIN            16  288.02
3  2014.0  CIN            16  224.62
4  2015.0  CIN            13  244.20
5  2016.0  CIN            16  260.64
6  2017.0  CIN            16  210.70
7  2018.0  CIN            11  174.54
8  2019.0  CIN            13  202.66

The table above is for Andy Dalton, who was the QB1 from 2011 - 2019

In [133]:
urlC = 'https://www.pro-football-reference.com/players/C/ChasJa00/fantasy/'
dfC = pd.read_html(urlC, header = [1], skiprows = 1)[0]
dfC.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'FantPt', 'DKPt',
       'FDPt', 'Unnamed: 26'],
      dtype='object')

In [134]:
dfC_tidy = dfC.drop(columns = ['Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1', 'TD.1',
       'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3', 'Num',
       'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'DKPt', 'FDPt', 'Unnamed: 26'])

In [182]:
dfC_jc = dfC_tidy.iloc[0:3]
dfC_jc.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
0  2021.0  CIN            17  223.60
1  2022.0  CIN            12  155.40
2  2023.0  CIN            16  162.72

The table above is for Ja'Marr Chase, who was the wr1 from 2021 - present

In [143]:
urlD = 'https://www.pro-football-reference.com/players/B/BurrJo01/fantasy/'
dfD = pd.read_html(urlD, header = [1], skiprows = 1)[0]
dfD.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Cmp', 'Att', 'Yds', 'TD', 'Att.1', 'Yds.1',
       'TD.1', 'Cmp.1', 'Att.2', 'Yds.2', 'TD.2', 'Att.3', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'FantPt', 'DKPt',
       'FDPt', 'Unnamed: 26'],
      dtype='object')

In [144]:
dfD_tidy = dfD.drop(columns = ['Cmp', 'Att', 'Yds', 'TD', 'Att.1', 'Yds.1',
       'TD.1', 'Cmp.1', 'Att.2', 'Yds.2', 'TD.2', 'Att.3', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2','DKPt',
       'FDPt', 'Unnamed: 26'])

In [147]:
dfD_jb = dfD_tidy.iloc[0:4]
dfD_jb.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
0  2020.0  CIN            10  173.72
1  2021.0  CIN            16  314.24
2  2022.0  CIN            16  350.70
3  2023.0  CIN            10  147.16

The table above is for Joe Burrow, who was the qb1 from 2020 - present

In [148]:
urlE = 'https://www.pro-football-reference.com/players/B/BernGi00/fantasy/'
dfE = pd.read_html(urlE, header = [1], skiprows = 1)[0]
dfE.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'FantPt', 'DKPt',
       'FDPt', 'Unnamed: 26'],
      dtype='object')

In [151]:
dfE_tidy = dfE.drop(columns = ['Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'DKPt',
       'FDPt', 'Unnamed: 26'])

In [174]:
dfE_gb = dfE_tidy.iloc[1:8]
dfE_gb.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
1  2014.0  CIN            13   144.9
2  2015.0  CIN            16   132.2
3  2016.0  CIN            10    83.3
4  2017.0  CIN            16   109.3
5  2018.0  CIN            12    60.9
6  2019.0  CIN            16    38.4
7  2020.0  CIN            16   111.1

the table above is for Giovanni Bernard, who was the rb1 for 2014 and 2020 due to injuries

In [159]:
urlF = 'https://www.pro-football-reference.com/players/H/HillJe01/fantasy/'
dfF = pd.read_html(urlF, header = [1], skiprows = 1)[0]
dfF.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'FantPt', 'DKPt',
       'FDPt', 'Unnamed: 26'],
      dtype='object')

In [161]:
dfF_tidy = dfF.drop(columns = ['Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'DKPt',
       'FDPt', 'Unnamed: 26'])

In [226]:
dfF_jh = dfF_tidy.iloc[1:3]
dfF_jh.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
1  2015.0  CIN            16   155.3
2  2016.0  CIN            15   155.3

The table above is for Jeremy Hill, who was the rb1 for 2015 - 2016

In [175]:
urlG = 'https://www.pro-football-reference.com/players/M/MixoJo00/fantasy/'
dfG = pd.read_html(urlG, header = [1], skiprows = 1)[0]
dfG.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Cmp', 'Att', 'Yds', 'TD', 'Att.1', 'Yds.1',
       'TD.1', 'Tgt', 'Rec', 'Yds.2', 'TD.2', 'Cmp.1', 'Att.2', 'Yds.3',
       'TD.3', 'Att.3', 'Yds.4', 'TD.4', 'Tgt.1', 'Rec.1', 'Yds.5', 'TD.5',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'FantPt', 'DKPt',
       'FDPt', 'Unnamed: 34'],
      dtype='object')

In [179]:
dfG_tidy = dfG.drop(columns = ['Cmp', 'Att', 'Yds', 'TD', 'Att.1', 'Yds.1',
       'TD.1', 'Tgt', 'Rec', 'Yds.2', 'TD.2', 'Cmp.1', 'Att.2', 'Yds.3',
       'TD.3', 'Att.3', 'Yds.4', 'TD.4', 'Tgt.1', 'Rec.1', 'Yds.5', 'TD.5',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'DKPt',
       'FDPt', 'Unnamed: 34'])

In [181]:
dfG_jm = dfG_tidy.iloc[0:7]
dfG_jm.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
0  2017.0  CIN            14   111.3
1  2018.0  CIN            14   200.4
2  2019.0  CIN            16   190.4
3  2020.0  CIN             6    78.6
4  2021.0  CIN            16   245.9
5  2022.0  CIN            14   179.5
6  2023.0  CIN            17   215.0

The table above is for Joe Mixon, who was the rb1 from 2017 - 2023

In [183]:
urlH = 'https://www.pro-football-reference.com/players/G/GresJe00/fantasy/'
dfH = pd.read_html(urlH, header = [1], skiprows = 1)[0]
dfH.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'FantPt', 'DKPt', 'FDPt', 'Unnamed: 20'],
      dtype='object')

In [191]:
dfH_tidy = dfH.drop(columns = ['Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2','DKPt', 'FDPt', 'Unnamed: 20'])

In [192]:
dfH_jg = dfH_tidy.iloc[4:5]
dfH_jg.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
4  2014.0  CIN            15    76.0

the table above Jermaine Gresham, who was the te1 for 2014

In [193]:
urlI = 'https://www.pro-football-reference.com/players/E/EifeTy00/fantasy/'
dfI = pd.read_html(urlI, header = [1], skiprows = 1)[0]
dfI.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'FantPt', 'DKPt', 'FDPt', 'Unnamed: 20'],
      dtype='object')

In [194]:
dfI_tidy = dfI.drop(columns = ['Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'DKPt', 'FDPt', 'Unnamed: 20'])

In [198]:
dfI_te = dfI_tidy.iloc[2:3]
dfI_te.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
2  2015.0  CIN            13   139.5

the table above is for Tyler Eifert, who was the te1 for 2015

In [199]:
urlJ = 'https://www.pro-football-reference.com/players/K/KrofTy00/fantasy/'
dfJ = pd.read_html(urlJ, header = [1], skiprows = 1)[0]
dfJ.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'FantPt', 'DKPt', 'FDPt', 'Unnamed: 20'],
      dtype='object')

In [200]:
dfJ_tidy = dfJ.drop(columns = ['Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'DKPt', 'FDPt', 'Unnamed: 20'])

In [203]:
dfJ_tk = dfJ_tidy.iloc[1:3]
dfJ_tk.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
1  2016.0  CIN            14     9.2
2  2017.0  CIN            16    82.4

The table above is for Tyler Kroft, who was the te1 for 2016 - 2017

In [204]:
urlK = 'https://www.pro-football-reference.com/players/U/UzomC.00/fantasy/'
dfK = pd.read_html(urlK, header = [1], skiprows = 1)[0]
dfK.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'FantPt', 'DKPt', 'FDPt', 'Unnamed: 20'],
      dtype='object')

In [205]:
dfK_tidy = dfK.drop(columns = ['Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'DKPt', 'FDPt', 'Unnamed: 20'])

In [210]:
dfK_cu = dfK_tidy.iloc[3:7]
dfK_cu.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
3  2018.0  CIN            16    61.9
4  2019.0  CIN            16    36.2
5  2020.0  CIN             2    14.7
6  2021.0  CIN            16    79.3

The table above is for C.J. Uzomah, who was the te1 foe 2018 - 2021

In [211]:
urlL = 'https://www.pro-football-reference.com/players/S/SampDr00/fantasy/'
dfL = pd.read_html(urlL, header = [1], skiprows = 1)[0]
dfL.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'FantPt', 'DKPt',
       'FDPt', 'Unnamed: 26'],
      dtype='object')

In [218]:
dfL_tidy = dfL.drop(columns = ['Att', 'Yds', 'TD', 'Tgt', 'Rec', 'Yds.1',
       'TD.1', 'Att.1', 'Yds.2', 'TD.2', 'Tgt.1', 'Rec.1', 'Yds.3', 'TD.3',
       'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2', 'DKPt',
       'FDPt', 'Unnamed: 26'])

In [219]:
dfL_ds = dfL_tidy.iloc[1:5]
dfL_ds.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
1  2020.0  CIN            16    38.9
2  2021.0  CIN            17     8.1
3  2022.0  CIN             2     0.2
4  2023.0  CIN            17    28.4

The table above is for drew sample, who was the te1 for 2020 and 2023

In [220]:
urlM = 'https://www.pro-football-reference.com/players/H/HursHa00/fantasy/'
dfM = pd.read_html(urlM, header = [1], skiprows = 1)[0]
dfM.keys()

Index(['Unnamed: 0', 'Tm', 'G', 'Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'FantPt', 'DKPt', 'FDPt', 'Unnamed: 20'],
      dtype='object')

In [223]:
dfM_tidy = dfM.drop(columns = ['Tgt', 'Rec', 'Yds', 'TD', 'Tgt.1', 'Rec.1',
       'Yds.1', 'TD.1', 'Num', 'Pct', 'Num.1', 'Pct.1', 'Num.2', 'Pct.2',
       'DKPt', 'FDPt', 'Unnamed: 20'])

In [225]:
dfM_ds = dfM_tidy.iloc[4:5]
dfM_ds.rename(columns={'Tm': 'Team', 'G': 'Games Played', 'Unnamed: 0': 'Year'})

     Year Team  Games Played  FantPt
4  2022.0  CIN            13    53.4

The table above is for Hayden Hurst, who was the te1 for 2022

The way that I was able to find this data above was that I scraped the url for fantasy players on https://www.pro-football-reference.com, where it shows all of the fantasy data for every player over the years. All of the data above is for Just the Cincinatti Bengals team. For the rest of the project, I am going to do the same thing for the Pittsburgh Steelers, Baltimore Ravens, and Cleveland Browns. While I was able to collect the data using the method above, I felt that this data was very tedious to collect, so before collecting the rest of the data for the rest of the teams, I wanted to see if you had any tips on a way that I can either use loops to collect this data, or any other method you might know for data collection, that way I don't have to do every player individually. I am also going to combine the data frames by teams, while also showing which players performed the best over the years in a graph/table. I am also going to compare the teams data against eachother to find the ultimate goal of which AFC North team has performed the best for fantasy over the years 2014 - 2023.